<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QuickLookProtein Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(MARKETING_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>org.libreoffice.pdb-document</string>
				<string>dyn.ah62d4rv4ge80g4pg</string>
				<string>net.sourceforge.openbabel.pdb</string>
				<string>com.ariomoniri.QuickLookProtein.pdb</string>
				<string>net.sourceforge.openbabel.mdl</string>
				<string>dyn.ah62d4rv4ge81a3dc</string>
				<string>com.ariomoniri.QuickLookProtein.sdf</string>
				<string>com.ariomoniri.QuickLookProtein.mol</string>
				<string>com.cif</string>
				<string>com.crystalmaker.crystalmaker.cif</string>
				<string>com.revvity.external.cif</string>
				<string>dyn.ah62d4rv4ge81g3dg</string>
				<string>com.ariomoniri.QuickLookProtein.cif</string>
				<string>com.ariomoniri.QuickLookProtein.mmcif</string>
				<string>com.tripos.mol2</string>
				<string>com.ariomoniri.QuickLookProtein.mol2</string>
				<string>com.ariomoniri.QuickLookProtein.xyz</string>
				<string>com.ariomoniri.QuickLookProtein.gro</string>
				<string>com.ariomoniri.QuickLookProtein.cube</string>
				<string>com.ariomoniri.QuickLookProtein.pqr</string>
				<string>com.ariomoniri.QuickLookProtein.prmtop</string>
				<string>com.ariomoniri.QuickLookProtein.vasp</string>
				<string>com.ariomoniri.QuickLookProtein.cdjson</string>
				<string>com.ariomoniri.QuickLookProtein.mmtf</string>
				<string>com.ariomoniri.QuickLookProtein.gjf</string>
				<string>com.ariomoniri.QuickLookProtein.com</string>
				<string>com.ariomoniri.QuickLookProtein.compchemlog</string>
				<string>com.ariomoniri.QuickLookProtein.ccp4</string>
				<string>com.ariomoniri.QuickLookProtein.mrc</string>
				<string>com.ariomoniri.QuickLookProtein.map</string>
				<string>com.ariomoniri.QuickLookProtein.dcd</string>
				<string>com.ariomoniri.QuickLookProtein.xtc</string>
				<string>com.ariomoniri.QuickLookProtein.trr</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>QLPreviewPreviewViewController</string>
	</dict>
</dict>
</plist>
